/* 넓이 설정 스타일 */
.-wA { width: 100%; }
.-w01 { min-width: 1rem; }
.-w02 { min-width: 2rem; }
.-w03 { min-width: 3rem; }
.-w04 { min-width: 4rem; }
.-w05 { min-width: 5rem; }
.-w06 { min-width: 6rem; }
.-w07 { min-width: 7rem; }
.-w08 { min-width: 8rem; }
.-w09 { min-width: 9rem; }
.-w10 { min-width: 10rem; }
.-w15 { min-width: 15rem; }
.-w20 { min-width: 20rem; }
.-w25 { min-width: 25rem; }
.-w30 { min-width: 30rem; }
.-w35 { min-width: 35rem; }
.-w40 { min-width: 40rem; }
.-w45 { min-width: 45rem; }
.-w50 { min-width: 50rem; }
.-w55 { min-width: 55rem; }
.-w60 { min-width: 60rem; }
.-w65 { min-width: 65rem; }
.-w70 { min-width: 70rem; }

/* 높이 설정 스타일 */
.-hA { height: 100%; }
.-h01 { min-height: 1rem; }
.-h02 { min-height: 2rem; }
.-h03 { min-height: 3rem; }
.-h04 { min-height: 4rem; }
.-h05 { min-height: 5rem; }
.-h06 { min-height: 6rem; }
.-h07 { min-height: 7rem; }
.-h08 { min-height: 8rem; }
.-h09 { min-height: 9rem; }
.-h10 { min-height: 10rem;}
.-h15 { min-height: 15rem;}
.-h20 { min-height: 20rem; }
.-h25 { min-height: 25rem;}
.-h30 { min-height: 30rem; }
.-h35 { min-height: 35rem;}
.-h40 { min-height: 40rem; }
.-h45 { min-height: 45rem;}
.-h50 { min-height: 50rem; }
.-h55 { min-height: 55rem;}
.-h60 { min-height: 60rem; }
.-h65 { min-height: 65rem;}
.-h70 { min-height: 70rem; }
.-h75 { min-height: 75rem;}
.-h80 { min-height: 80rem; }
.-h85 { min-height: 85rem;}
.-h90 { min-height: 90rem; }
.-h95 { min-height: 95rem;}
.-h100 { min-height: 100rem; }

/* 폰트 사이즈 */
.fts-12 { font-size: 1.2rem; }
.fts-15 { font-size: 1.5rem; }
.fts-18 { font-size: 1.8rem; }
.fts-25 { font-size: 2.5rem; }

























