.life-pointer {
	cursor: pointer;
}
.life-icon {
	width: 2.4rem;
	height: 2.4rem;
}
.life-profile-icon {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}
.life-input {
	font-size: 1.5rem;
	width: 30rem;
}
.life-hover {
	cursor: pointer;
	border-radius: 0.5rem;
	&:hover {
		background-color: #F0F0F0;
	}
}
.life-btn {
	width: 25rem;
	height: 10rem;
}
.life-btn.life-hover {
	cursor: pointer;
	&:hover {
		background-color: #1E90FFBB;
	}
}
@media (width < 1500px) {
	.life-btn {
		height: 8rem;
	}
}
@media (width < 1200px) {
	.life-btn {
		height: 7rem;
	}
}
.open {
	display: flex;
}
.close {
	display: none !important;
}
.life-navbar-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--spot-30);
	
	& > .life-navbar-box:nth-of-type(1) {
		border-bottom: var(--primary-border-1);
	}
}
.life-navbar-container::after {
	content:'';
	width: 100%;
	height: 5px;
	background-image: linear-gradient(#1E90FF99, white, white);
}
.life-navbar-container > .life-navbar-box:first-child {
	justify-content: space-between;
	color: #AAA;
	
	& > div {
		display: flex;
		gap: 1rem;
	}
	
	& .life-navbar-item {
		border: none;
	}
}
.life-navbar-box {
	width: 100%;
	height: 6rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10rem;
	white-space: nowrap;
	& > .life-navbar-item:first-child {
		border-left: none;
	}
}
.life-navbar-href {
	background: none;
	font-size: 2.5rem;
	font-weight: 900;
	color: var(--primary-blue);
	text-shadow: 0 0 1.5px var(--primary-blue5);
}
.life-navbar-item {
	width: auto;
	height: 80%;
	font-size: 1.75rem;
	text-align: center;
	padding: 0 1rem;
	color: black;
	text-shadow: 0 0 1.5px var(--primary-blue5);
	display: flex;
	align-items: center;
	border-left: var(--primary-border-1);
}
.relative {
	position: relative;
}
.life-navbar-item:hover {
	& .life-navbar-list {
		display: flex;
	}
}
.life-navbar-list {
	position: absolute;
	top: 100%;
	border: var(--primary-border);
	border-radius: 1rem;
	box-shadow: var(--primary-box-shadow);
	white-space: nowrap;
	background-color: white;
	display: none;
	flex-direction: column;
	overflow: hidden;
	
	& a:last-child {
		border: none;
	}
}
.life-navbar-list a {
	color: black;
	padding: 1rem 2rem;
	height: auto;
	border-bottom: var(--primary-border);
	font-size: 1.5rem;
	
	&:hover {
		background-color: #EEE;
	}
}
.life-navbar-search {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1.2rem;
	background-color: white;
	border: 2px solid var(--primary-blue);
	border-radius: 3rem;
}
.life-navbar-profile {
	position: relative;
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0.5rem 1rem;
	background-color: var(--spot-30);
	border-radius: 3rem;
	font-size: 2rem;
	gap: 1rem;
	white-space: nowrap;
	&:hover {
		background-color: var(--white-10);
	}
}
.profile-relative {
	position: relative;
	width: auto;
}
.life-navbar-profile-card {
	position: absolute;
	padding: 1rem 1.5rem;
	top: 110%;
	right:0;
	width: 100%;
	height: auto;
	border: var(--primary-border);
	border-radius: 1rem;
	background-color: white;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0;
}
.life-profile-card-header {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	padding: 0.5rem 0;
	border-bottom: var(--primary-border);
	margin: 0.5rem 0;
}
.life-profile-card-header > div {
	width: 50%;
	text-align: center;
}
.life-profile-card-content {
	width: 100%;
	font-size: 1.5rem;
	color: black;
	padding: 1rem 0;
	text-align: center;
}
@media (width < 950px) {
	.life-navbar-box {
		padding: 0;
	}
}

@media (width < 750px) {
	.life-input {
		width: 20rem;
	}
}
@media (width < 650px) {
	html {
		font-size: 8px;
	}
}
@media (width < 525px) {
	html {
		font-size: 6px;
	}
}
@media (width < 400px) {
	html {
		font-size: 5px;
	}
	.life-navbar-href {
		font-weight: 500;
	}
	.life-navbar-item.relative div {
		text-shadow: none;
	}
}
.m-life-container-header {
	width: 100%;
	height: auto;
	padding: 0 10rem;
}
.life-header-content {
	width: 100%;
	font-size: 2.5rem;
	padding: 1rem 2rem;
}
@media (width < 650px) {
	.life-header-content {
		font-size: 2rem;
	}
}
.m-life-container-area {
	width: 100%;
	min-height: 10rem;
	max-height: 25rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	justify-content: space-around;
	gap:1rem;
	white-space: nowrap;
	min-width: 60rem;
}
@media(width < 1200px) {
	.fts-25.bg-area {
		font-size: 1.8rem;
	}
}

.m-life-content-layer {
	min-width: 60rem;
	height: auto;
	border-radius: 1rem;
	flex-grow: 1;
	padding: 1rem 0;
}
.m-life-content-layer.main {
	padding: 0 30rem;
}
@media (width < 1200px) {
	.m-life-content-layer.main {
		padding: 0 10rem;
	}
}
@media (width < 1500px) {
	.m-life-content-layer.main {
		padding: 0 1rem;
	}
}
.m-life-content-area {
	width: auto;
	min-width: 60rem;
	border: var(--primary-border);
	border-radius: 1rem;
	margin: 5rem 0;
}
.m-life-content-area.row {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.m-life-content-area.col {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.m-life-content-footer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	height: 40rem;
	background-color: #EEE;
	padding: 0 30rem;
}
@media (width < 1200px) {
	.m-life-content-footer {
		padding: 0 10rem;
	}
}
@media (width < 1500px) {
	.m-life-content-footer {
		padding: 0;
	}
}


















