.life-pointer {
	cursor: pointer;
}
.life-icon {
	width: 2.4rem;
	height: 2.4rem;
}
.life-profile-icon {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}
.life-input {
	font-size: 1.5rem;
	width: 30rem;
}
.life-hover {
	cursor: pointer;
	&:hover {
		border-radius: 0.5rem;
		background-color: #F0F0F0;
	}
}
.open {
	display: flex;
}
.close {
	display: none !important;
}
.life-navbar-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--spot-30);
	
	& > .life-navbar-box:nth-of-type(1) {
		border-bottom: var(--primary-border-1);
	}
}
.life-navbar-container::after {
	content:'';
	width: 100%;
	height: 5px;
	background-image: linear-gradient(#1E90FF99, white, white);
}
.life-navbar-container > .life-navbar-box:first-child {
	justify-content: space-between;
	color: #AAA;
	
	& > div {
		display: flex;
		gap: 1rem;
	}
	
	& .life-navbar-item {
		border: none;
	}
}
.life-navbar-box {
	width: 100%;
	height: 6rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10rem;
	white-space: nowrap;
	& > .life-navbar-item:first-child {
		border-left: none;
	}
}
.life-navbar-href {
	background: none;
	font-size: 2.5rem;
	font-weight: 900;
	color: var(--primary-blue);
	text-shadow: 0 0 1.5px var(--primary-blue5);
}
.life-navbar-item {
	width: auto;
	height: 80%;
	font-size: 1.75rem;
	text-align: center;
	padding: 0 1rem;
	color: black;
	text-shadow: 0 0 1.5px var(--primary-blue5);
	display: flex;
	align-items: center;
	border-left: var(--primary-border-1);
}
.relative {
	position: relative;
}
.life-navbar-item:hover {
	& .life-navbar-list {
		display: flex;
	}
}
.life-navbar-list {
	position: absolute;
	top: 100%;
	border: var(--primary-border);
	border-radius: 1rem;
	box-shadow: var(--primary-box-shadow);
	white-space: nowrap;
	background-color: white;
	display: none;
	flex-direction: column;
	overflow: hidden;
	
	& a:last-child {
		border: none;
	}
}
.life-navbar-list a {
	color: black;
	padding: 1rem 2rem;
	height: auto;
	border-bottom: var(--primary-border);
	font-size: 1.5rem;
	
	&:hover {
		background-color: #EEE;
	}
}
.life-navbar-search {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1.2rem;
	background-color: white;
	border: 2px solid var(--primary-blue);
	border-radius: 3rem;
}
.life-navbar-profile {
	position: relative;
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0.5rem 1rem;
	background-color: var(--spot-30);
	border-radius: 3rem;
	font-size: 2rem;
	gap: 1rem;
	white-space: nowrap;
	&:hover {
		background-color: var(--white-10);
	}
}
.profile-relative {
	position: relative;
	width: auto;
}
.life-navbar-profile-card {
	position: absolute;
	padding: 1rem 1.5rem;
	top: 110%;
	right:0;
	width: 100%;
	height: auto;
	border: var(--primary-border);
	border-radius: 1rem;
	background-color: white;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0;
}
.life-profile-card-header {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	padding: 0.5rem 0;
	border-bottom: var(--primary-border);
	margin: 0.5rem 0;
}
.life-profile-card-header > div {
	width: 50%;
	text-align: center;
}
.life-profile-card-content {
	width: 100%;
	font-size: 1.5rem;
	color: black;
	padding: 1rem 0;
	text-align: center;
}
@media (width < 950px) {
	.life-navbar-box {
		padding: 0;
	}
}

@media (width < 750px) {
	.life-input {
		width: 20rem;
	}
}
@media (width < 650px) {
	html {
		font-size: 8px;
	}
}
@media (width < 525px) {
	html {
		font-size: 6px;
	}
}
@media (width < 400px) {
	html {
		font-size: 5px;
	}
	.life-navbar-href {
		font-weight: 500;
	}
	.life-navbar-item.relative div {
		text-shadow: none;
	}
}

.life-finance-container {
	width: 100%;
	height: auto;
	min-height: calc(100vh - 12.5rem);
	background-color: var(--white-10);
	padding: 0 10rem;
	display: flex;
	flex-direction: column;
	gap:2rem;
}

/* 모든 사이트 공용 ParentNode */
.container-col100 {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background: var(--white-10);
	font-size: 2rem;
	overflow-y: auto;
}
.container-row100 {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	background: var(--white-10);
	font-size: 2rem;
	overflow-y: auto;
}
.content-col100 {
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
}
.content-row100 {
	display: flex;
	width: auto;
	height: auto;
}
.defaultHeader {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	padding: 1rem;
}
.defaultCard {
	border: var(--primary-border);
	border-radius: 0.75rem;
	background: var(--white-10);
	overflow: hidden;
	box-shadow: var(--primary-box-shadow);	
}
.defaultCard div:not(div:nth-of-type(2)) {
	background-color: #1E90FF;
}
.defaultCard.sero2430 {
	width: 24rem;
	height: 30rem;
}
.defaultCard.sero3036 {
	width: 30rem;
	height: 36rem;
}
.defaultCard.sero2436 {
	width: 24rem;
	height: 36rem;
}
.defaultCard.garo3525 {
	width: 35rem;
	height: 25rem;
}