<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/class.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/life-layout.css}">
    <title>라이프가이드</title>
</head>
<body>
<nav class="life-navbar-container">
	<div class="life-navbar-box">
		<button class="life-navbar-href">Life Guide</button>
		<div class="life-navbar-search">
			<img class="life-icon" src="/svg/1093183.svg">
			<input class="life-input -w40" type="text">
		</div>
	</div>
	<div class="life-navbar-box">
		<div class="life-navbar-item relative">
			<div class="life-pointer">자산 관리</div>
			<div class="life-navbar-list">
				<a href="#">통계 및 보고서</a>
				<a href="#">가계부 캘린더</a>
				<a href="#">자산 계획 설립</a>
				<a href="#">자산 계획 설립</a>
			</div>
		</div>
		<div class="life-navbar-item relative">
			<div class="life-pointer">자산 관리</div>
			<div class="life-navbar-list">
				<a href="#">통계 및 보고서</a>
				<a href="#">가계부 캘린더</a>
				<a href="#">자산 계획 설립</a>
				<a href="#">자산 계획 설립</a>
			</div>
		</div>
	</div>
</nav>
<script src="/js/life-util.js"></script>
</body>
</html>