<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/class.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/life-layout.css}">
    <title>Life Invaluable</title>
</head>
<body>
<nav class="life-navbar-container">
	<div class="life-navbar-box">
		<div>
			<button class="life-navbar-href">Life Invaluable</button>
			<div class="life-navbar-search">
				<img class="life-icon" src="/svg/1093183.svg">
				<input class="life-input" id="dmddo" type="text" placeholder="검색어를 입력해 주세요.">
			</div>
		</div>
		<div class="profile-relative">
			<div class="life-navbar-profile">
				<img class="life-profile-icon" src="/svg/gundam.png"/>
				<div>Nick-Name <span style="font-size: 1rem; align-self: center;">∨</span></div>
			</div>
			<div class="life-navbar-profile-card close" data-role="none">
				<div class="life-profile-card-header">
					<div class="life-hover">
						<div>등급</div>
						<div class="fts-18 ft-blue5">VIP</div>
					</div>
					<div class="life-hover">
						<div>알람</div>
						<div class="fts-18 ft-blue5">13</div>
					</div>
				</div>
				<div class="life-profile-card-content life-hover">마이페이지</div>
				<div class="life-profile-card-content life-hover">친구 등록</div>
				<div class="life-profile-card-content life-hover bg-logout">로그아웃</div>
			</div>
		</div>
	</div>
	<div class="life-navbar-box">
		<div class="life-navbar-item relative">
			<div class="life-pointer">소중한 내 인생</div>
			<div class="life-navbar-list">
				<a href="#">할 일 리스트</a>
				<a href="#">계획 설립</a>
				<a href="#">My 일기장</a>
				<a href="#">루틴 관리</a>
				<a href="#">경력 관리</a>
				<a href="#">재테크</a>
			</div>
		</div>
		<div class="life-navbar-item relative">
			<div class="life-pointer">가계부</div>
			<div class="life-navbar-list">
				<a href="#">통계 및 보고서</a>
				<a href="#">반복 지출 관리</a>
				<a href="#">목표 관리</a>
				<a href="#">소비 성향 리포트</a>
				<a href="#">구매 계획 리스트</a>
			</div>
		</div>
		<div class="life-navbar-item relative">
			<div class="life-pointer">Life 커뮤니티</div>
			<div class="life-navbar-list">
				<a href="#">커뮤니티 게시판</a>
				<a href="#">스터디 그룹</a>
				<a href="#">전문가/멘토 Q&amp;A</a>
			</div>
		</div>
	</div>
</nav>

<!-- 메인 -->
<div class="m-life-content-layer main">
	<div class="m-life-container-header -h30">
		<div class="life-header-content -h30">
			<span class="ft-family-head">할 일 리스트</span><br>
			
		</div>
	</div>
	<div class="m-life-container-area -h10">
		<button class="life-btn life-hover fts-25 bg-area">할 일 등록하기</button>
		<button class="life-btn life-hover fts-25 bg-area">할 일 체크</button>
		<button class="life-btn life-hover fts-25 bg-area">완료된 목록 확인</button>
		<button class="life-btn life-hover fts-25 bg-area">친구와 공유</button>
		<button class="life-btn life-hover fts-25 bg-area">친구와 공유</button>
	</div>
	
	<div class="m-life-content-layer -h30">
		<div class="m-life-content-area col -hA">
			
		</div>
	</div>
</div>
<div class="m-life-content-footer">
	
</div>
<script src="/js/life-util.js"></script>
<script>
	const profile = gettersClass('profile-relative');
	profile.addEventListener('click', () => {
		const profileCard = gettersClass('life-navbar-profile-card');
		const role = profileCard.getAttribute('data-role');
		
		if(role === 'none') {
			profileCard.classList.remove('close');
			profileCard.classList.add('open');
			profileCard.setAttribute('data-role', 'click');
		} else if (role === 'click') {
			profileCard.classList.remove('open');
			profileCard.classList.add('close');
			profileCard.setAttribute('data-role', 'none');			
		}
	})
</script>
</body>
</html>