<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/class.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <title>라이프가이드</title>
<style>
body { padding: 5rem; display: flex; flex-direction: column; gap: 2rem; align-items: center; justify-content: center; }
</style>
</head>
<body>
	<!-- 로그인 컴포넌트 -->
	<button class="btn primary-dark">로그인</button>
	<!-- 인풋 스타일 컴포넌트 -->
	<div class="input">
		<img class="icon" src="/svg/1093183.svg"/>
		<input class="-w4" type="text">
	</div>
	<!-- 카드 스타일 컴포넌트 -->
	<div class="card-component -w6 -h3">
		<div class="card-header -h08">
			<h1 class="card-header-text fts-15">카드 도커컴포넌트</h1>
			<p class="card-header-text ft-gray fts-12">Spring Framework</p>
		</div>
		<div class="card-content">
			<div>자바조 자바조 자바~아조~</div>
		</div>
		<div class="card-footer -h04"></div>
	</div>
	<!-- 모달 스타일 컴포넌트 -->
	<div class="slide-modal-component -w4 -hA right slide-modal-right-close">
		
	</div>
</body>
</html>